html {
  box-sizing: border-box !important;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
}
* {
  -webkit-tap-highlight-color: transparent !important;
}
html,
body,
h1, /*32 пикселей.*/
h2, /*24 пикселей.*/
h3, /*19 пикселей.*/
h4,  /*16 пикселей.*/
h5, /*13 пикселей.*/
h6, /*11 пикселей.*/
p,
ul,
label,
textarea,
address {
  margin: 0;
  padding: 0;
  font-weight: inherit;
}
h2 {
  margin-bottom: 0;
}
address {
  font-style: inherit;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  background: #f7f7f8;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

//img {
//  display: block;
//  width: 100%;
//}
button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
input,
textarea,
button {
  font-family: inherit;
}

//============================================
.swiper-button-next::after,
.swiper-button-prev::after {
  content: none;
}
.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
}
.container {
  max-width: 1250px;
  width: 100%;
}
.row {
  margin-right: -10px;
}
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-9,
.col-xl-6 {
  padding-right: 10px;
  padding-left: 10px;
}
.row {
  margin-left: -10px;
}
