.left__circle {
  position: relative;
  height: 790px;
  overflow: hidden;
  @media (max-width: 1600px) {
    height: 680px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 46%;
    height: 100%;
    background: url(../images/svg/circle-bg.svg) no-repeat;
    background-size: cover;
    @media (max-width: 992px) {
      display: none;
    }
  }
  .bg__ear {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin-left: auto;
    background-size: cover;
    mix-blend-mode: multiply;
    opacity: 0.8;
    width: 1920px;
    height: 100%;
    z-index: 2;
    @media (max-width: 992px) {
      width: 1655px;
    }
  }
}
.bg__gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(279.22deg, #233fa3 -10.15%, #182864 89.26%);
}
.video__block {
  margin: 130px 0 120px 0;
  @media (max-width: 992px) {
    margin: 48px 0 36px 0;
  }
}
.title--center {
  text-align: center;
}
.wrap-block {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  margin-bottom: 130px;
  @media (max-width: 992px) {
    margin-bottom: 50px;
  }
}
.content__subtitle {
  margin-top: 16px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto 50px auto;
  text-align: center;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  span {
    font-weight: 700;
  }
  @media (max-width: 992px) {
    max-width: none;
  }
}
.content--width {
  max-width: 665px;
  width: 100%;
}
.wrap-partner {
  padding: 30px 0 40px 55px;
  @media (max-width: 768px) {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.partners__block {
  display: flex;
  @media (max-width: 768px) {
    justify-content: space-around;
  }
}
.partners {
  display: flex;
  flex-direction: column;
  &:last-child {
    margin-top: 58px;
    margin-left: 75px;
    @media (max-width: 768px) {
      margin: 0;
    }
  }
}
.partner__link {
  width: 110px;
  height: 110px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}
.partner__block {
  background: #ffffff;
  outline: 1px solid rgba(18, 30, 81, 0.1);
  border-radius: 16px;
}
